a.person {
    border-bottom-color: rgb(251, 174, 79);
    background-color: rgb(251, 174, 79);
}

a.topic {
    border-bottom-color: rgb(255, 255, 102);
    background: rgb(255, 255, 102) !important;
    border-bottom-width: 0px !important;
}

a.organisation {
    border-bottom-color: rgb(253, 111, 72);
    background-color: rgb(253, 111, 72);
}

a.entity {
    color: #2861FB;
    cursor: pointer;
    background: none;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}
